.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: white !important;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.styled-slide {
  align-self: flex-end;
}
.styled-carousel {
  display: grid !important;
  height: 10rem;
}

.carousel-caption {
  top: 0;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.primary-button {
  padding: 1rem;
  margin: 1rem;
}

.Website-Logo {
  margin: auto;
}

.centered {
  text-align: center;
}

.message {
  padding: 10% 10%;;
  font-size: 6vw;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
